<launch>
    <!-- Detection configuration -->
    <arg name="weights" default="$(find yolov5_ros)/src/yolov5/best.pt"/>
    <arg name="data" default="$(find yolov5_ros)/src/yolov5/data/data.yaml"/>
    <arg name="confidence_threshold" default="0.55"/>
    <arg name="iou_threshold" default="0.55"/>
    <arg name="maximum_detections" default="1000"/>
    
    <arg name="device" default="auto"/>
    <arg name="agnostic_nms" default="true"/>
    <arg name="line_thickness" default="3"/>
    <arg name="dnn" default="true"/>
    <arg name="half" default="false"/>
    <!-- replace imgsz -->
    <arg name="inference_size_h" default="640"/>
    <arg name="inference_size_w" default="480"/>
    <!-- Visualize using OpenCV window -->
    <arg name="view_image" default="true"/>
    <arg name="view_image2" default="true"/>
    <!-- ROS topics -->
    <arg name="input_image_topic_R" default="/camera1/Right_image_raw"/>
    <arg name="input_image_topic_L" default="/camera2/Left_image_raw"/>
    <!-- <arg name="input_image_topic_R" default="/usb_cam/image_raw"/> -->
    <!-- <arg name="input_image_topic_L" default="??"/> -->
    <arg name="output_topic_r" default="/yolov5/detections_r"/>
    <arg name="output_topic_l" default="/yolov5/detections_l"/>
    <!-- add -->
    <arg name="yolo_output_topic_to_matlab_r" default="/yolov5/cob_detections_r"/>
    <arg name="yolo_output_topic_to_matlab_l" default="/yolov5/cob_detections_l"/>
    <!-- Optional topic (publishing annotated image) -->
    <arg name="publish_image" default="true"/>
    <arg name="publish_image2" default="true"/>
    <arg name="output_image_topic_r" default="/yolov5/image_out_r"/>
    <arg name="output_image_topic_l" default="/yolov5/image_out_l"/>
    <node pkg="yolov5_ros" name="yolov5" type="detect.py" output="screen">
        <param name="weights" value="$(arg weights)"/>
        <param name="data" value="$(arg data)"/>
        <param name="confidence_threshold" value="$(arg confidence_threshold)"/>
        <param name="iou_threshold" value="$(arg iou_threshold)" />
        <param name="maximum_detections" value="$(arg maximum_detections)"/>
        <param name="device" value="$(arg device)" />
        <param name="agnostic_nms" value="$(arg agnostic_nms)" />
        <param name="line_thickness" value="$(arg line_thickness)"/>
        <param name="dnn" value="$(arg dnn)"/>
        <param name="half" value="$(arg half)"/>
        <param name="inference_size_h" value="$(arg inference_size_h)"/>
        <param name="inference_size_w" value="$(arg inference_size_w)"/>
        <param name="input_image_topic_R" value="$(arg input_image_topic_R)"/>
        <param name="input_image_topic_L" value="$(arg input_image_topic_L)"/>
        <param name="yolo_output_topic_to_matlab_r" value="$(arg yolo_output_topic_to_matlab_r)"/>
        <param name="yolo_output_topic_to_matlab_l" value="$(arg yolo_output_topic_to_matlab_l)"/>
        <param name="output_topic_r" value="$(arg output_topic_r)"/>
        <param name="output_topic_l" value="$(arg output_topic_l)"/>
        <param name="view_image" value="$(arg view_image)"/>
        <param name="view_image2" value="$(arg view_image2)"/>
        <param name="publish_image" value="$(arg publish_image)"/>
        <param name="publish_image2" value="$(arg publish_image2)"/>
        <param name="output_image_topic_r" value="$(arg output_image_topic_r)"/>
        <param name="output_image_topic_l" value="$(arg output_image_topic_l)"/>
    </node>
</launch>